// color variables
$grey: #969696;
$white: #ffffff;
$green: #7DC855;
$header-shadow: rgba(182, 181, 181, .5);
$input-border: rgba(217, 217, 217, .5);
$input-higlight: rgba(137, 199, 239, 0.5);

//fonts
$font-stack: Helvetica Neue,Helvetica,Arial,sans-serif;
$bold:bold;
$light:300;

//screen-sizes
$small-screen: 240px;
$smart-phone: 320px;
$smart-phone-landscape: 480px;
$extra-large-phone:767px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
$desktop: 1025px;
